.personal-info {
  font-size: 0.9em;
  .info-picture {
    width: 200px;
    height: auto;
    animation: top-down 2s ease-in-out;
  }
  .info-button {
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    width: auto;
    border: none;
  }
}

@keyframes top-down {
  from { margin-top: -30px }
  to { margin-top: 0px }
}